/*Aplicando estilos a toda la página html*/
*{
    margin:0;
    padding:0;
     
}

body{
    background: linear-gradient(DarkCyan,MediumAquamarine) 
}

/*Estilos para el titulo principal*/
.estilo-titulo-principal{
    margin: 25px 25px;
    color:LightCyan;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Estilos para la barra de navegación*/
.barra-navegacion{
    list-style-type:none;
    background-color: Teal;
    overflow: hidden;                 /*Permite que el menu de navegacion se muestre de forma independiente */
    margin: 0;
    padding: 0;                       /*Margin 0 y padding 0 quita los valores que tiene por defecto */
}

/*Se le aplica los estilos a los elementos list-item que a su vez tengan 
etiquetas de ancla */
li a{
    display:block;
    color:white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float:left;
}
/*Estilos para el evento de la barra de navegacion */
li a:hover{
    background-color: rgb(66, 89, 163);
}

/*Estilos para parrafos */
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*================================================================================ */

/*================================================================================ */
/*Propiedades comunes para todos los divs*/

.flex{display: flex;
     justify-content: center; 
     width: 100%;}

#imagen-principal{
    margin: 25px 25px;
    border: 15px solid #4682B4;
    padding: 5px solid #B0C4DE;
}

#contenido-principal{
    margin: 25px 25px;
    border:15px solid #4682B4;
    background-color: LightBlue;
    text-align: center;
}

/*identificador para titulo de descripcion */
#titulo-descripcion{
    margin: 5px;
    color:#4682B4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*================================================================================ */

/*================================================================================
Estilos para div de contacto 
Identificador para título de contacto:*/
#titulo-contacto{
    margin: 5px;
    color: LightCyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
}

/*clase para div de contacto*/
.estilo-contacto{
    background-color: Teal;
}


/*lista no ordenada de contacto*/
#lista-contacto li{
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
}

/*================================================================================ */
/*Estilos para los divs de inicio de seccion */
#inicio-seccion-info{
    background-color: DarkSeaGreen;
    width: 820px;
    height: 824px;
    border: 5px solid DarkSeaGreen;
    margin: 0px 10px 0px 0px;
}

#inicio-seccion-datos{
    background-color: DarkSeaGreen;
    width: 400px;
    height: 824px;
    border: 5px solid DarkSeaGreen;
    margin: 0px 0px 0px 10px;
}

#estilo-fielset-login{
    background: radial-gradient(YellowGreen,YellowGreen);
    border-style: dashed;
    width: 390px;
    height: 405px;
    margin: 149px 5px 233px 5px;
}

#estilo-titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size:xx-large;
}

.elemento-inicio-seccion{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 0px 20px 0px;
}

.estilo-divs-labels{
    padding: 17px 135.5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
    font-style:unset;
    text-align: center;
}

#estilo-div-boton{
    margin: 20px 20px;
    padding: 0px 80px;
}

#estilo-boton{
    padding: 10px 60px;
    border-radius: 10px;
    font-size: larger;
    background-color: lavender;
}

.estilo-campos{
    border-top-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-style:solid;
    margin: 10px 5px 10px 5px;
    padding: 10px 100px;
    background-color: DarkSeaGreen;
}
/*================================================================================ */
/*Estilos para los divs de pagina de registro */
#informacion-registro{
    width: 505px;
    height: 733px;
    border: 5px solid #4682B4;
    margin: 0px 52.5px 0px 0px;
}

#informacion-complementaria{
    width: 610px;
    height: 740px;
    border: 5px solid #4682B4;
    margin: 0px 0px 0px 52.5px;
}

/*================================================================================ */
/*Estilos para los divs de pagina de consulta*/
#cuadro-consulta{
    width: 505px;
    height: 656px;
    border: 5px solid #4682B4;
    margin: 0px 10px 0px 0px;
}

#cuadro-mapa{
    width: 715px;
    height: 656px;
    border: 5px solid #4682B4;
    margin: 0px 0px 0px 10px;
}

#estilo-frame{
    width: 715px;
    height: 656px;
}